<!-- templates/about.html -->
{% extends 'base.html' %}
{% block content %}
    <h1>What is Quotes toy project about?</h1>
    This site is a result work of one newbie was getting through a bunch of
    technologies by developing a toy web project. It can be used as a little 
    guide for dummies by learning Python, Django, Scrapy, Sqlite or Postgresql, 
    REST API, Celery and Redis. 
    <ul>
    <li>+ Make simple Django Web server with HTML pages</li>
    <li>+ Create Django models and Sqlite database</li>
    <li>+ Display Quotes from the database via an HTML page</li>
    <li>- Make Web API service. REST API</li>
    <li>- Display Quotes collections endpoints </li>
    <li>- Get fresh Quotes from site </li>
    <li>- Process items to database</li>
    <li>- Run periodic tasks. Celery and Redis </li>
    </ul>

{% endblock content %}